branches:
  only: 
    - master
matrix:
  include:
    - stage: "Lint"
      language: node_js
      os: linux
      node_js: "node"
      install: true
      script: npm i
    - stage: "Build"
      os: osx
      env: 
        - BuildiOS="12"
        - Xcode="10.0"
      osx_image: xcode10
      language: node_js 
      node_js: "8"
      jdk: oraclejdk8
      script:
        - tns build ios --bundle --env.aot --env.uglify
    - language: android
      env:
        - BuildAndroid="28"
      os: linux
      jdk: oraclejdk8
      before_install: nvm install 8.9.1
      script:
        - tns build android --bundle --env.aot --env.uglify --env.snapshot
      env:
        - AndroidEmulator="23"
      language: node_js
      os: linux
      node_js: "8"
      script:
      #  - npm i -g appium@1.8.0
        - npm i
    - os: linux
      env: 
        - iOS="11"
      language: node_js 
      node_js: "8"
      script: 
      #  - npm i -g appium@1.8.0
        - npm i
android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.2
    - android-28
    - extra-android-m2repository

before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
    directories:
        - .nvm
        - $HOME/.gradle/caches/
        - $HOME/.gradle/wrapper/

install:
    - pip install six
    - echo no | npm install -g nativescript@next --ignore-scripts
    - tns usage-reporting disable
    - tns error-reporting disable
